# Ignore Data Directory as its too large
data/

# Ignore venv directories
bin/*
include/*
lib/*
lib64/*
share/*
pyvenv.cfg
lib64

# Ignore Output files
logs/run.log
processed_data/*
visualization_outputs/*
upscaler_autoencoder_56x56_1ch.h5
